Repository exercism/julia, pull requests merged in 2019-12, with the labels that each got.

#171 dnd-character: init
  config.json
  exercises/dnd-character/README.md
  exercises/dnd-character/dnd-character.ipynb
  exercises/dnd-character/dnd-character.jl
  exercises/dnd-character/example.jl
  exercises/dnd-character/runtests.jl
Labels: Code-in, new-exercise :sparkles:

#181 Adding reverse-string
  config.json
  exercises/reverse-string/README.md
  exercises/reverse-string/example.jl
  exercises/reverse-string/reverse-string.ipynb
  exercises/reverse-string/reverse-string.jl
  exercises/reverse-string/runtests.jl
Labels: Code-in, new-exercise :sparkles:

#198 Add minesweeper exercise
  config.json
  exercises/minesweeper/README.md
  exercises/minesweeper/example.jl
  exercises/minesweeper/minesweeper.ipynb
  exercises/minesweeper/minesweeper.jl
  exercises/minesweeper/runtests.jl
Labels: Code-in, new-exercise :sparkles:

#201 Adding in accumulate exercise
  config.json
  exercises/accumulate/.meta/description.md
  exercises/accumulate/.meta/hints.md
  exercises/accumulate/README.md
  exercises/accumulate/accumulate.ipynb
  exercises/accumulate/accumulate.jl
  exercises/accumulate/example.jl
  exercises/accumulate/runtests.jl
Labels: config change, help wanted, new-exercise :sparkles:

#203 Add the allergies exercise
  config.json
  exercises/allergies/README.md
  exercises/allergies/allergies.ipynb
  exercises/allergies/allergies.jl
  exercises/allergies/example.jl
  exercises/allergies/runtests.jl
Labels: new-exercise :sparkles:
