Repository exercism/julia, pull requests merged in 2021-02, with the labels that each got.

#327 Add concept exercise: regex / stage-heralding
  .github/workflows/exercise-tests.yml
  config.json
  exercises/concept/stage-heralding/.docs/hints.md
  exercises/concept/stage-heralding/.docs/instructions.md
  exercises/concept/stage-heralding/.docs/introduction.md
  exercises/concept/stage-heralding/.meta/config.json
  exercises/concept/stage-heralding/.meta/config.toml
  exercises/concept/stage-heralding/.meta/exemplar.jl
  exercises/concept/stage-heralding/card-generator.jl
  exercises/concept/stage-heralding/runtests.jl
Labels: new exercise :sparkles:, v3 :rocket:

#330 🤖 Add file patterns to config.json
  config.json
Labels: v3-migration

#332 Add exercise: elyses-enchantments / vectors1
  concepts/pairs/about.md
  concepts/pairs/introduction.md
  concepts/pairs/links.json
  concepts/vectors/about.md
  concepts/vectors/introduction.md
  concepts/vectors/links.json
  config.json
  exercises/concept/elyses-enchantments/.docs/hints.md
  exercises/concept/elyses-enchantments/.docs/instructions.md
  exercises/concept/elyses-enchantments/.docs/introduction.md
  exercises/concept/elyses-enchantments/.meta/config.json
  exercises/concept/elyses-enchantments/.meta/config.toml
  exercises/concept/elyses-enchantments/.meta/exemplar.jl
  exercises/concept/elyses-enchantments/enchantments.jl
  exercises/concept/elyses-enchantments/runtests.jl
Labels: new exercise :sparkles:, v3 :rocket:

#333 🤖 Update tests.toml files to latest spec
  exercises/practice/acronym/.meta/tests.toml
  exercises/practice/allergies/.meta/tests.toml
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/armstrong-numbers/.meta/tests.toml
  exercises/practice/atbash-cipher/.meta/tests.toml
  exercises/practice/binary-search/.meta/tests.toml
  exercises/practice/bob/.meta/tests.toml
  exercises/practice/circular-buffer/.meta/tests.toml
  exercises/practice/clock/.meta/tests.toml
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/complex-numbers/.meta/tests.toml
  exercises/practice/custom-set/.meta/tests.toml
  exercises/practice/darts/.meta/tests.toml
  exercises/practice/difference-of-squares/.meta/tests.toml
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/etl/.meta/tests.toml
  exercises/practice/gigasecond/.meta/tests.toml
  exercises/practice/grains/.meta/tests.toml
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hello-world/.meta/tests.toml
  exercises/practice/isbn-verifier/.meta/tests.toml
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/leap/.meta/tests.toml
  exercises/practice/luhn/.meta/tests.toml
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/nucleotide-count/.meta/tests.toml
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pascals-triangle/.meta/tests.toml
  exercises/practice/perfect-numbers/.meta/tests.toml
  exercises/practice/phone-number/.meta/tests.toml
  exercises/practice/prime-factors/.meta/tests.toml
  exercises/practice/pythagorean-triplet/.meta/tests.toml
  exercises/practice/raindrops/.meta/tests.toml
  exercises/practice/rational-numbers/.meta/tests.toml
  exercises/practice/resistor-color-trio/.meta/tests.toml
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/rna-transcription/.meta/tests.toml
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/rotational-cipher/.meta/tests.toml
  exercises/practice/run-length-encoding/.meta/tests.toml
  exercises/practice/scrabble-score/.meta/tests.toml
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/sieve/.meta/tests.toml
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/transpose/.meta/tests.toml
  exercises/practice/triangle/.meta/tests.toml
  exercises/practice/trinary/.meta/tests.toml
  exercises/practice/word-count/.meta/tests.toml
Labels: v3-migration 🤖
