Repository exercism/julia, pull requests merged in 2021-04, with the labels that each got.

#354 🤖 Add authors and contributors to Practice Exercises
  exercises/practice/accumulate/.meta/config.json
  exercises/practice/acronym/.meta/config.json
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/allergies/.meta/config.json
  exercises/practice/anagram/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/bob/.meta/config.json
  exercises/practice/circular-buffer/.meta/config.json
  exercises/practice/clock/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/complex-numbers/.meta/config.json
  exercises/practice/custom-set/.meta/config.json
  exercises/practice/darts/.meta/config.json
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/etl/.meta/config.json
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/grains/.meta/config.json
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isogram/.meta/config.json
  exercises/practice/leap/.meta/config.json
  exercises/practice/luhn/.meta/config.json
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/pangram/.meta/config.json
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/rational-numbers/.meta/config.json
  exercises/practice/resistor-color-trio/.meta/config.json
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/robot-name/.meta/config.json
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/roman-numerals/.meta/config.json
  exercises/practice/rotational-cipher/.meta/config.json
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/sieve/.meta/config.json
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/transpose/.meta/config.json
  exercises/practice/triangle/.meta/config.json
  exercises/practice/trinary/.meta/config.json
  exercises/practice/word-count/.meta/config.json
Labels: do not merge :construction:, v3-migration 🤖

#362 Add exercise: name-badge / nothingness
  concepts/nothingness/about.md
  concepts/nothingness/links.json
  config.json
  exercises/concept/name-badge/.docs/hints.md
  exercises/concept/name-badge/.docs/instructions.md
  exercises/concept/name-badge/.docs/introduction.md
  exercises/concept/name-badge/.meta/config.json
  exercises/concept/name-badge/.meta/exemplar.jl
  exercises/concept/name-badge/namebadge.jl
  exercises/concept/name-badge/runtests.jl
Labels: new exercise :sparkles:, v3 :rocket:

#367 Add exercise: elyses-analytic-enchantments / predicates
  config.json
  exercises/concept/elyses-analytic-enchantments/.docs/hints.md
  exercises/concept/elyses-analytic-enchantments/.docs/instructions.md
  exercises/concept/elyses-analytic-enchantments/.docs/introduction.md
  exercises/concept/elyses-analytic-enchantments/.meta/config.json
  exercises/concept/elyses-analytic-enchantments/.meta/exemplar.jl
  exercises/concept/elyses-analytic-enchantments/enchantments.jl
  exercises/concept/elyses-analytic-enchantments/runtests.jl
Labels: new exercise :sparkles:, v3 :rocket:

#369 Rename stack to deck in Elyse exercises
  exercises/concept/elyses-analytic-enchantments/.docs/hints.md
  exercises/concept/elyses-analytic-enchantments/.docs/instructions.md
  exercises/concept/elyses-analytic-enchantments/.meta/exemplar.jl
  exercises/concept/elyses-analytic-enchantments/runtests.jl
  exercises/concept/elyses-enchantments/.docs/hints.md
  exercises/concept/elyses-enchantments/.docs/instructions.md
  exercises/concept/elyses-enchantments/.meta/exemplar.jl
  exercises/concept/elyses-enchantments/runtests.jl
Labels: enhancement :unicorn:, v3 :rocket:

#360 🤖 Add .meta/config.json file for concepts
  concepts/abstract-types/.meta/config.json
  concepts/boolean-logic/.meta/config.json
  concepts/booleans/.meta/config.json
  concepts/composite-types/.meta/config.json
  concepts/constants/.meta/config.json
  concepts/docstrings/.meta/config.json
  concepts/emoji-symbols/.meta/config.json
  concepts/functions-introduction/.meta/config.json
  concepts/matrices-concatenation/.meta/config.json
  concepts/matrices-indices/.meta/config.json
  concepts/matrices-introduction/.meta/config.json
  concepts/matrices-iteration/.meta/config.json
  concepts/matrices-mutation/.meta/config.json
  concepts/methods/.meta/config.json
  concepts/multiple-dispatch/.meta/config.json
  concepts/symbols/.meta/config.json
  concepts/unicode-identifiers/.meta/config.json
  config.json
Labels: do not merge :construction:, v3-migration 🤖

#372 🤖 Sync exercise files keys based on file path patterns
  exercises/practice/accumulate/.meta/config.json
  exercises/practice/acronym/.meta/config.json
  exercises/practice/all-your-base/.meta/config.json
  exercises/practice/allergies/.meta/config.json
  exercises/practice/anagram/.meta/config.json
  exercises/practice/armstrong-numbers/.meta/config.json
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/binary-search/.meta/config.json
  exercises/practice/bob/.meta/config.json
  exercises/practice/circular-buffer/.meta/config.json
  exercises/practice/clock/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/complex-numbers/.meta/config.json
  exercises/practice/custom-set/.meta/config.json
  exercises/practice/darts/.meta/config.json
  exercises/practice/difference-of-squares/.meta/config.json
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/etl/.meta/config.json
  exercises/practice/gigasecond/.meta/config.json
  exercises/practice/grains/.meta/config.json
  exercises/practice/hamming/.meta/config.json
  exercises/practice/hello-world/.meta/config.json
  exercises/practice/isbn-verifier/.meta/config.json
  exercises/practice/isogram/.meta/config.json
  exercises/practice/leap/.meta/config.json
  exercises/practice/luhn/.meta/config.json
  exercises/practice/matching-brackets/.meta/config.json
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/pangram/.meta/config.json
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/perfect-numbers/.meta/config.json
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/rational-numbers/.meta/config.json
  exercises/practice/resistor-color-trio/.meta/config.json
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/robot-name/.meta/config.json
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/roman-numerals/.meta/config.json
  exercises/practice/rotational-cipher/.meta/config.json
  exercises/practice/run-length-encoding/.meta/config.json
  exercises/practice/scrabble-score/.meta/config.json
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/sieve/.meta/config.json
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/transpose/.meta/config.json
  exercises/practice/triangle/.meta/config.json
  exercises/practice/trinary/.meta/config.json
  exercises/practice/word-count/.meta/config.json
Labels: v3-migration 🤖

#374 phone-number: Update instructions to match tests
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/phone-number/.meta/example.jl
  exercises/practice/phone-number/runtests.jl
Labels: enhancement :unicorn:

#358 Update (still incomplete) concept docs for multiple dispatch
  concepts/multiple-dispatch/.meta/config.json
  concepts/multiple-dispatch/about.md
  concepts/multiple-dispatch/links.json
Labels: v3 :rocket:

#380 Slightly improve phrasing of key features
  config.json
Labels: v3 :rocket:

#381 Add concept exercise: dnd-char / kwdef, using-macros
  concepts/kwdef/.meta/config.json
  concepts/kwdef/about.md
  concepts/kwdef/introduction.md
  concepts/kwdef/links.json
  config.json
  exercises/concept/dnd-char/.docs/instructions.md
  exercises/concept/dnd-char/.docs/introduction.md
  exercises/concept/dnd-char/.meta/config.json
  exercises/concept/dnd-char/.meta/exemplar.jl
  exercises/concept/dnd-char/.meta/tests.toml
  exercises/concept/dnd-char/dnd-character.jl
  exercises/concept/dnd-char/runtests.jl
Labels: new exercise :sparkles:, v3 :rocket:

#371 Clarify what a docstring is
  concepts/docstrings/.meta/config.json
  concepts/docstrings/about.md
Labels: documentation :book:, enhancement :unicorn:, v3 :rocket:

#384 🤖 Add Ace editor and highlightjs languages to config.json
  config.json
Labels: v3-migration 🤖
